@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Creación de Usuarios</h1>
    <h2>Ingrese los datos solicitados</h2>
    <br />
    <form asp-action="CrearEquipos">
        @*Inicio del Formulario*@

        <div class="form-group row">
            @*Label y input de Nombre de Usuario*@
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-4">
                @Html.TextBox("nombre", "", new { @class = "form-control" })
            </div>

            @*Label y input de Apellido del Usuario*@
            <label class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-4">
                @Html.TextBox("apellido", "", new { @class = "form-control" })
            </div>

            @*Label y input de Email del Usuario*@
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
                @Html.TextBox("email", "", new { @class = "form-control" })
            </div>

            @*Label y input de Dirección del Usuario*@
            <label class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-4">
                @Html.TextBox("direccion", "", new { @class = "form-control" })
            </div>

            @*Label y DropDownList de Departamento del Usuario*@
            <label class="col-sm-2 col-form-label">Departamento</label>
            <div class="col-sm-4">
                @{
                    var departamentos = new List<string>
            {
            "San Salvador",
            "Santa Ana",
            "San Miguel",
            };
                }
                @Html.DropDownList("departamento", new SelectList(departamentos), "Seleccione un departamento", new { @class = "form-control" })
            </div>

            @*Label y DropDownList de Género del Usuario*@
            <label class="col-sm-2 col-form-label">Género</label>
            <div class="col-sm-4">
                @Html.DropDownList("genero", new SelectList(new List<string> { "Masculino", "Femenino", "Otro" }), "Seleccione un género", new { @class = "form-control" })
            </div>

            @*Label y input de Puesto del Usuario*@
            <label class="col-sm-2 col-form-label">Puesto</label>
            <div class="col-sm-4">
                @Html.TextBox("puesto", "", new { @class = "form-control" })
            </div>

            @*Checkbox para Estado del Usuario*@
            <div class="col-sm-offset-2 col-sm-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="estado" name="estado" value="true">
                    <label class="form-check-label" for="estado">
                        Inactivo
                    </label>
                </div>
            </div>

            @*Botón de envío de formulario*@
            <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" class="btn btn-primary" value="Guardar" />
            </div>
        </div>
    </form>

    @*Tabla para mostrar usuarios registrados - Necesita código backend para llenar datos*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>Departamento</th>
                <th>Género</th>
                <th>Puesto</th>
            </tr>
        </thead>
        <tbody>
            @* Inserte aquí el código para llenar la tabla con los datos de los usuarios *@
        </tbody>
    </table>
}
